
  
.list {
    position: absolute;
    left: 100%;
    white-space: nowrap;
    height: 38px;
    line-height: 38px;
    font-size: 22px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    -webkit-transition: -webkit-transform 25s linear;
    -moz-transition: -moz-transform 25s linear;
    -o-transition: -o-transform 25s linear;
    transition: transform 25s linear;
    z-index: 999;
  }
.list.animate {
    -webkit-transform: translateX(-3420px);
    -moz-transform: translateX(-3420px);
    -ms-transform: translateX(-3420px);
    -o-transform: translateX(-3420px);
    transform: translateX(-3420px);
  }
.list .content {
    display: inline-block;
    opacity: 1;
  }
.list img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: text-top;
  }